extends layout

block content
  h1 Dodaj člana u projekt: #{project.naziv}

  form(action='/projects/' + project._id + '/addMember', method='POST')
    label(for='userId') Odaberi korisnika:
    select(name='userId', required=true)
      each user in users
        option(value=user._id)= user.name
    br
    button(type='submit') Dodaj člana
  a(href='/projects') Odustani
