extends layout

block content
  h1 Add Member to Project: #{project.naziv}
  form(action='/projects/' + project._id + '/addMember', method='POST')
    div
      label(for='userId') Select User to Add
      select(name='userId')
        each user in users  // Iteriraj kroz korisnike i prikaži ih
          option(value=user._id) #{user.name}
    div
      button(type='submit') Add Member
