extends layout

block content
  br
  a(href='/projects/new') Create New Project
  br
  a(href='/projects/my-projects') Moji Kreirani Projekti
  br
  a(href='/projects/my-member-projects') Moji Projekti (Kao član)
  br
  a(href='/projects/archive') Arhiva projekata




  // Gumb za logout
  form(action='auth/logout', method='GET')
    button(type='submit') Logout


